@font-face {
  font-family: "roboto-headers";
  src: url("Roboto-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-text";
  src: url("./Roboto-Light.ttf");
  font-style: normal;
}

@font-face {
  font-family: "roboto-title";
  src: url("./Roboto-BoldItalic.ttf");
  font-style: italic;
}

:root {
    --title: "roboto-title";
    --headers: "roboto-headers";
    --text: "roboto-text";
    --light: #EEA47F;
    --dark: #00539C;
}

p {
    font-family: var(--text);
    color: var(--light);
    font-size: 2em;
}

body {
  background-color: var(--dark);
}
