:root {
  --title: "roboto-title";
  --headers: "roboto-headers";
  --text: "roboto-text";
  --lightColor: #eea47f;
  --darkColor: #00539c;
}

@font-face {
  font-family: "roboto-headers";
  src: url("./Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "roboto-text";
  src: url("./Roboto-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "roboto-title";
  src: url("./Roboto-BoldItalic.ttf") format("truetype");
  font-style: normal;
}

.flex {
  display: flex;
  width: 100%;
}

.todoRow {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.todoColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--lightColor);
  border: red solid 2px;
}

h1 {
  justify-self: center;
  align-self: center;
  font-family: var(--title, "roboto-title");
  color: var(--lightColor);
  font-size: 2em;
  margin: 4px;
  top: 0;
}

p {
  font-family: var(--text);
  color: var(--lightColor);
  font-size: 2em;
}

body {
  background-color: var(--darkColor);
}

button {
  font-family: var(--headers);
  background-color: transparent;
  border: none;
  color: var(--lightColor);
  font-size: 1.75em;
}

.displayNone {
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: space-between;
}

#nav-icon1 span {
  justify-self: center;
  align-self: center;
  display: block;
  position: relative;
  right: 0px;
  top: 0;
  margin: 4px;
  height: 9px;
  width: 60px;
  background: var(--lightColor);
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1) {
  -webkit-transform: rotate(135deg) translate(21px, -13px);
  -moz-transform: rotate(135deg) translate(21px, -13px);
  -o-transform: rotate(135deg) translate(21px, -13px);
  transform: rotate(135deg) translate(21px, -13px);
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(2) {
  opacity: 0;
  right: 60px;
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(3) {
  -webkit-transform: rotate(-135deg) translate(3px);
  -moz-transform: rotate(-135deg) translate(3px);
  -o-transform: rotate(-135deg) translate(3px);
  transform: rotate(-135deg) translate(3px);
}

input[type="checkbox"] {
  display: none;
}

.todoCheck {
  display: initial;
}
