:root[data-theme="theme-light"] {
  --title: "roboto-title";
  --headers: "roboto-headers";
  --text: "roboto-text";
  --darkColor: #FCF6F5;
  --lightColor: #7b9acc;
}

:root[data-theme="theme-dark"] {
  --title: "roboto-title";
  --headers: "roboto-headers";
  --text: "roboto-text";
  --lightColor: #FCF6F5;
  --darkColor: #7b9acc;
}

/*
* {
  outline: red 1px solid;
}
*/

html {
  overflow-x: hidden;
}

main {
  width: 100%;
  overflow-x: hidden;
}

#content {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
  height: 100%;
}

/*
* {
  outline: 1px solid red;
} 
*/

li {
  list-style-type: none;
}

.toDoItem {
height: 40px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
border-bottom: var(--lightColor) 1px solid;
gap: 2%;
}

@font-face {
  font-family: "roboto-headers";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "roboto-text";
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "roboto-title";
  src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-style: normal;
}

.flex {
  display: flex;
  width: 100%;
}

.trigger {
  background-color: var(--lightColor);
  color: var(--darkColor);
  border-radius: 25px;
  margin: 4px;
}

label {
  font-family: "roboto-text";
    color: black;
    font-weight: bold;
    font-size: 1em;
}

h1, h2 {
  justify-self: center;
  align-self: center;
  font-family: var(--title, "roboto-title");
  color: var(--lightColor);
  font-size: 2em;
  margin: 4px;
  top: 0;
}



p {
  font-family: var(--text);
  color: var(--lightColor);
  font-size: .75em;
}

body {
  background-color: var(--darkColor);
}

button {
  font-family: var(--headers);
  background-color: transparent;
  border: none;
  color: var(--lightColor);
  font-size: 1.75em;
}

.displayNone {
  display: none;
}

.inputOutline {
  border: 2px solid black;
  background-color: lightgray;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--lightColor);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}

#projectName {
  border-bottom: 1px solid var(--lightColor);
  text-align: center;
}

.breakLabel::before {
  content: "\a";
  white-space: pre;
}

.nav-section {
  visibility: hidden;
  opacity: 0;
  height: 0%;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#header {
  display: flex;
  justify-content: space-between;
}

#nav-icon1 span {
  justify-self: center;
  align-self: center;
  display: block;
  position: relative;
  right: 0px;
  top: 0;
  margin: 4px;
  height: 9px;
  width: 60px;
  background: var(--lightColor);
  border-radius: 9px;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1) {
  -webkit-transform: rotate(135deg) translate(21px, -13px);
  -moz-transform: rotate(135deg) translate(21px, -13px);
  -o-transform: rotate(135deg) translate(21px, -13px);
  transform: rotate(135deg) translate(21px, -13px);
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(2) {
  opacity: 0;
  right: 60px;
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(3) {
  -webkit-transform: rotate(-135deg) translate(3px);
  -moz-transform: rotate(-135deg) translate(3px);
  -o-transform: rotate(-135deg) translate(3px);
  transform: rotate(-135deg) translate(3px);
}

.toDoFlex {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.submitBtn {
  color: black;
  align-self: center;
  text-align: center;
  width: fit-content;
}

input[type="checkbox"] {
  display: none;
}

.todoCheck {
  visibility: hidden;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 80%;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-edit {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 80%;
  border-radius: 0.5rem;
}
.close-button-edit {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button-edit:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.show-nav {
  height: initial;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 1s 0s, transform 1s;
}

.input[type="checkbox"] { display: none; }

.input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font-family: "roboto-text";
  color: var(--lightColor);
  size: .75em;
  cursor: pointer;
  user-select: all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input[type="checkbox"] + label:last-child { margin-bottom: 3%; margin-top: 3%; }

.input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--lightColor);
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 3%;
  margin-bottom: 3%;
}

.input[type="checkbox"]:checked + label{
  text-decoration: line-through;
}

.thing::after {
  border: none;
  left: unset;
}

.projectLabelFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.projectFlex {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}